//mixins
@mixin unicode($icon){
	&:before {
		content: $icon;
	}
}

@mixin mobileIcon($fontSize:2rem,$margin:2em){
  .mobile-icon {
    
    .icon-user {
      font-size: $fontSize;
    } //icon-user

    .icon-shopping-basket {
       font-size: $fontSize;
      
    } //icon-shopping-basket
 
    li:nth-child(1){
      margin-right: $margin;
    }//li 

  }//mobile-icon
}

@mixin handheld($bg-color,$border-color,$amount) {
  .handheld-navigation{
      li:nth-child(even){
        background-color: darken($bg-color, 1);
        &:hover {
          background-color: saturate($bg-color, $amount);
        }
      }

      li:nth-child(odd){
        background-color: lighten($bg-color,1);
        &:hover {
          background-color: saturate($bg-color,$amount);
        }
      }

      li{
        border-bottom:1px solid $border-color;
        display:block;
        a {
          color:#fff;
        }
        &:nth-child(1) {
          border-top:1px solid $border-color;
        }
      }
  }
  
}