//mixins
@mixin unicode($icon){
	&:before {
		content: $icon;
	}
}

@mixin mobileIcon($fontSize:2rem,$margin:2em){
  .mobile-icon {
    
    .icon-user {
      font-size: $fontSize;
    } //icon-user

    .icon-shopping-basket {
       font-size: $fontSize;
      
    } //icon-shopping-basket
 
    li:nth-child(1){
      margin-right: $margin;
    }//li 

  }//mobile-icon
}

