//icon fonts
$icomoon-font-path: "../fonts" !default;

$icon-user: '\e900';
$icon-heart: '\e9da';
$icon-shopping-basket: '\e901';

//color
$header-bg-color:#FDECFF;
$list-bg-color:#f8eff1;
$list-bottom-border:#cccccc;
$btn-bg-color:#9D786E;