/******* header.scss *******/
//extend placeholder

//default
.site-header-container {
  .flexbox {
    display:flex;
    justify-content:space-between;
  } //flexbox
  @include handheld($nav-bg-color,$nav-border-line,40);

  .mobile-icon{
    align-self:center;
    .icon-user {
        @include unicode($icon-user);
    }//icon-user

    .icon-shopping-basket {
        @include unicode($icon-shopping-basket);
         position: relative;
    }//icon-shopping-basket 

    .count {
        @include print($mobile-header__cart--count);
    }//count

    li{
      display: inline-block;  
    }//li

  }//mobile-icon
  
}
// mobile header
.mobile-header-container {
  @include print($mobile-header__container);

  .flexbox {
    @include print($mobile-header__flexbox);
  } //flexbox

  .storefront-primary-navigation{
    background-color: $nav-bg-color;
  }//storefront-primary-navigation

  .mobile-site-search{
    @include print($mobile-header__nav--search);
  }//mobile-site-search

  .main-navigation {

    &.toggled {
      @include print($mobile-header__nav--toggled);
    }

    .menu-toggle {
      @include print($mobile-header_nav--tobetoggle);  
    }//menu-toggle
    
    .handheld-navigation {
      li {
         padding:0.5em 0 0.5em 1em;
      }//li
    }//handheld-navigation
    
  }//main-navigation
}//mobile-header-container

//tablet header
.tablet-header-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1.25rem;

  .site-branding {
     @include print($tablet-header__branding);
  }//site-branding

  .flexbox {
    @include print($tablet-header__flexbox);
  }//flexbox
  
}//tablet-header-container

//desktop header
.desktop-header-container {

    .site-header-tool {
      @include print($desktop-header__tool);
    }//site-header-tool

    .storefront-primary-navigation {
      @include print($desktop-header__nav);
    }//storefront-primary-navigation
    
}