/*header.scss*/
// mobile header
.mobile-header-container {
  display: flex;
  flex-direction:column;
  padding:0.5rem 1rem;

  .flexbox {
    display: flex;
    justify-content:space-between;
    padding: 0.5em;
  } //flexbox
  
  .site-branding {
    align-self:center;

    .custom-logo {
      width: 12.5em;
      height: auto;
    } //custom-logo

  } //site-branding

 @include mobileIcon();
    
  .storefront-primary-navigation{
    flex:0 0 28%;

    .main-navigation{
      display: flex;
      flex-direction:column;
    } //main-navi

  } //storefront-primary-navi

  .mobile-site-search{
    flex:0 0 70%;
  } //mobile-site-search


  .flexbox + .flexbox {
    margin-top: 0.75rem;
  }//flexbox


}//mobile-header-container

//tablet header
.tablet-header-container {
  display:flex;
  flex-direction:column;
  padding:0.5rem 1.25rem;

  .site-branding {
     text-align:center;
     margin:0 auto;
     margin-bottom:1em;
     padding:0.5em;

      .custom-logo {
      width: 15em;
      height: auto;
    } //custom-logo
  }//site-branding

  .flexbox {
    display:flex;
    margin-top:1em;
    padding:0.5em;
    justify-content:space-between;
    &>div {
      &.storefront-primary-navigation{
        margin:0;
        padding: 0.5em;
        flex:0 0 auto;
      }//storefront-primary-navigation

      .main-navigation {
        width:auto;
        float:none;
        margin:0;
      }
      button {
        display: block;
        float:none;
      }//button

      .handheld-navigation{
        display:block;
        width:80%;
        li:nth-child(1){
          margin-left:0;
        }//li

        li{
          border-bottom:1px solid #cccccc;
          display:block;
        }

      }//handheld-navigation

    } //div

  }//flexbox
  
  @include mobileIcon(2.2rem,2.8em);
  .mobile-icon {
    align-self:auto;
    padding:0.5em;
  }
}//tablet-header-container

//desktop header
