@charset "UTF-8";
/**  plugins.scss **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**    Base.scss  **/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?ujwbo4");
  src: url("../fonts/icomoon.eot?ujwbo4#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ujwbo4") format("truetype"), url("../fonts/icomoon.woff?ujwbo4") format("woff"), url("../fonts/icomoon.svg?ujwbo4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
i {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/******* header.scss *******/
.site-header-container .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site-header-container .handheld-navigation li:nth-child(even) {
  background-color: #db939b;
}
.site-header-container .handheld-navigation li:nth-child(even):hover {
  background-color: #f87b8a;
}
.site-header-container .handheld-navigation li:nth-child(odd) {
  background-color: #dd9ba3;
}
.site-header-container .handheld-navigation li:nth-child(odd):hover {
  background-color: #f87b8a;
}
.site-header-container .handheld-navigation li {
  border-bottom: 1px solid #444B53;
  display: block;
}
.site-header-container .handheld-navigation li a {
  color: #fff;
}
.site-header-container .handheld-navigation li:nth-child(1) {
  border-top: 1px solid #444B53;
}
.site-header-container .mobile-icon {
  -ms-flex-item-align: center;
      align-self: center;
}
.site-header-container .mobile-icon .icon-user:before {
  content: "";
}
.site-header-container .mobile-icon .icon-shopping-basket {
  position: relative;
}
.site-header-container .mobile-icon .icon-shopping-basket:before {
  content: "";
}
.site-header-container .mobile-icon .count {
  color: #fff;
  display: block;
  border-radius: 100%;
  width: 1.45em;
  height: 1.45em;
  border: 1px solid #fff;
  background-color: #4c3d3d;
  text-align: center;
  font-size: 0.5em;
  position: absolute;
  top: -25%;
  left: 60%;
}
.site-header-container .mobile-icon li {
  display: inline-block;
}

.mobile-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 1rem;
}
.mobile-header-container .flexbox {
  padding: 1em;
  margin-bottom: 0.75em;
}
.mobile-header-container .flexbox .site-branding {
  -ms-flex-item-align: center;
      align-self: center;
}
.mobile-header-container .flexbox .custom-logo {
  width: 12.5em;
  height: auto;
}
.mobile-header-container .flexbox .icon-user {
  font-size: 2rem;
}
.mobile-header-container .flexbox .icon-shopping-basket {
  font-size: 2rem;
}
.mobile-header-container .flexbox .mobile-icon li:nth-child(1) {
  margin-right: 2em;
}
.mobile-header-container .storefront-primary-navigation {
  background-color: #DC979F;
}
.mobile-header-container .mobile-site-search {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.mobile-header-container .mobile-site-search .widget_product_search {
  padding: 0.8em;
}
.mobile-header-container .main-navigation.toggled .mobile-site-search {
  max-height: 10em;
}
.mobile-header-container .main-navigation.toggled .menu-toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.mobile-header-container .main-navigation.toggled .menu-toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.mobile-header-container .main-navigation .menu-toggle {
  float: none;
  background-color: #DC979F;
  border: none;
}
.mobile-header-container .main-navigation .menu-toggle:before, .mobile-header-container .main-navigation .menu-toggle:after, .mobile-header-container .main-navigation .menu-toggle span:before {
  height: 3px;
  width: 20px;
  left: 0.6em;
  font-size: 16px;
}
.mobile-header-container .main-navigation .menu-toggle:before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}
.mobile-header-container .main-navigation .menu-toggle:after {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}
.mobile-header-container .main-navigation .menu-toggle span {
  font-size: 1.2em;
}
.mobile-header-container .main-navigation .handheld-navigation li {
  padding: 0.5em 0 0.5em 1em;
}

.tablet-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 1.25rem;
}
.tablet-header-container .site-branding {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0.5em;
}
.tablet-header-container .site-branding .custom-logo {
  width: 15em;
  height: auto;
}
.tablet-header-container .flexbox {
  margin-top: 1em;
  padding: 0.5em;
}
.tablet-header-container .flexbox .storefront-primary-navigation {
  margin: 0;
  padding: 0.5em;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.tablet-header-container .flexbox .main-navigation {
  width: auto;
  float: none;
  margin: 0;
}
.tablet-header-container .flexbox button {
  display: block;
  float: none;
}
.tablet-header-container .flexbox .handheld-navigation {
  display: block;
  width: 90%;
}
.tablet-header-container .flexbox .nav-menu {
  padding: 0.75em 0.2em;
}
.tablet-header-container .flexbox li:nth-child(1) {
  margin-left: 0;
}
.tablet-header-container .flexbox .mobile-icon {
  -ms-flex-item-align: auto;
      align-self: auto;
  padding: 0.75em;
}
.tablet-header-container .flexbox .icon-user {
  font-size: 2.2rem;
}
.tablet-header-container .flexbox .icon-shopping-basket {
  font-size: 2.2rem;
}
.tablet-header-container .flexbox .mobile-icon li:nth-child(1) {
  margin-right: 2.8em;
}

.desktop-header-container .site-header-tool {
  background: #000;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 0.2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.desktop-header-container .site-header-tool .site-search {
  margin-bottom: 0;
  -ms-flex-item-align: center;
      align-self: center;
}
.desktop-header-container .site-header-tool .cart-contents {
  color: #fff;
}
.desktop-header-container .site-header-tool .site-header-cart {
  max-width: 290px;
  padding-right: 1em;
}
.desktop-header-container .storefront-primary-navigation {
  margin-top: 1.5em;
}
.desktop-header-container .storefront-primary-navigation .main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 0;
  width: 100%;
  padding: 1em;
}
.desktop-header-container .storefront-primary-navigation .custom-logo-link {
  padding: 0;
}
.desktop-header-container .storefront-primary-navigation .menu {
  font-size: 1.3em;
}
.desktop-header-container .storefront-primary-navigation .site-branding {
  margin: 0;
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 25em;
}
